project_id            = "cloud-fraud-detection"
region                = "europe-west2"
zone                  = "europe-west2-a"
instance_name         = "fraud-vm-1"
machine_type          = "e2-medium"
vpc_name              = "fraud-detection-vpc"
subnet_name           = "fraud-public-subnet"
subnet_cidr_range     = "10.0.1.0/24"
dataset_bucket_name   = null
dataset_object_name   = "creditcard.csv"
vm_service_account_id = "fraud-vm-sa"
ssh_source_ranges     = ["82.20.177.18/32"]
